body {
    background-color: rgb(246, 246, 246);
}

/* display les excuses par 3 sur chaque ligne et sous forme de carte */
.cardExcuses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  align-items: center;
}

.cardExcuse {
  height: 200px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
}

.textlost {
  color: blue;
  font-size: 36px;
  text-align: center;
  margin: auto;
}

.error {
  color: red;
  font-size: 72px;
  text-align: center;
  margin-top: 45vh;
}

.error2 {
  text-align: center;
}

.btn-excuse {
  margin: auto;
  margin-top: 10%;
  text-align: center;
  border: 2px solid black;
  width: 20%;
  padding: 12px;
  border-radius: 8px ;
  background-color: black;
  color: white;
  font-size: 24px;

}

.btn-excuse:hover {
  transform: scale(1.2);
  transition: 0.4s;
  cursor: pointer;
}
.title, .excuse-message {
  text-align: center;
  margin-top: 10%;
}

.title {
  color: gray;
  font-size: 48px;
}
