<nav class="nav">
  <div class="logo">
		<a href="/">logo
			{# <img src="{{ asset('build/images/logoAll-.png') }}" alt="logo site"> #}
		</a>
	</div>
	<div class="navbar-links">
		<a href="/list" class="navbar-link">liste des excuses</a>
		<a href="#" class="navbar-link">Ajouter une excuse</a>
		<a href="#" class="navbar-link">Accessoires</a>
	</div>
  <div class="login">
     <a href="#" class="navbar-link">Connexion</a>
  </div>
</nav>
<div class="bar-limit">
</div>
