{% extends 'base.html.twig' %}

{% block option %}
    <meta http-equiv="Refresh" content="4; url=/" />
{% endblock %}


{% block body %}

	<div class="textlost">
		<h1>{{sentence}}</h1>
		<img alt="" src="https://media.giphy.com/media/KDGHEP0JdPc6qR1Ly4/giphy.gif"/>
    <p>Vous serez redirigé vers l'acceuil dans 5 secondes</p>
	</div>

{% endblock %}
